body{
    text-align: center;
}
form {
    margin: 30px auto;
    text-align: center;
}

input{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}
label{
     font-weight: bolder;
}
p{
    font-size: 30px;
    text-align: center;
}
div.display{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    background-color: #063b91;
    color: #fff;
}

button:hover{
    background-color: #063b91;
     color: #fff;
     font-weight: bolder;
     border: 2px solid #000;
}